@import '../../style/style.scss';

#hero-container {
    background-color: white;
    width: 100%;
    height: fit-content;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;

    @include xl {
        height: 75%;
    }

    @include m {
        height: calc(100vw - 50vw);
    }


    #hero-text-container {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        justify-content: flex-end;
        padding: 100px 0px 0px;
        gap: 24px;
        width: 80%;

        @include xl {
            width: 1100px;
        }
    }
}


#hero-text-container p,
#hero-text-container h1 {
    width: 100%;
    text-align: left;

    @include xl {
        width: 600px;
    }

    @include m {
        width: 45%;
    }
}
