@import '../../style/style.scss';

.chip-container {
    display: block;
    padding: 8px 12px;
    border-radius: 24px;

    &.chip-primary {
        background-color: $primaryBackground;
    }

    &.chip-secondary {
        background-color: $greyBackground;
    }

    .chip-label {
        @extend %title;
        white-space: nowrap;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.1px;
    }

}