@import "../style/style.scss";

.section-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  @include s {
    gap: 80px;
  }
}

#contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  @include xl {
    padding: 0px 0px;
    width: 1200px;
  }
}

a {
  @extend h3;

  transition: 100ms ease-out 100ms;
  text-decoration: none;

  &.e-mail {
    font-size: 20px;

    @include s {
      font-size: 28px;
    }
  }

  &:hover {
    color: $primaryMain;
  }

  @include m {
    font-size: 40px;
  }
}

.contact-icons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  img {
    height: 40px;
    cursor: pointer;
    transition: 100ms ease-out 100ms;

    &:hover {
      opacity: 80%;
    }
  }
}
