@import "../style/style.scss";

.additional-teaser-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include xl {
    width: 1100px;
  }
}

.project-pair-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @include s {
    flex-direction: row;
  }

  @include xl {
    width: 1200px;
  }
}
