@import '../style/style.scss';


nav {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 45px;
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;

    @include xl {
        width: 1200px;
        padding: 0px 0px;
    }

    #nav-home {
        /* Abril Fatface/H3 */
        @extend %headline;
        font-size: 36px;
        line-height: 45px;
        text-decoration: none;
  
  }

    #nav-items-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;

        .nav-item {
            @extend %title;
            font-size: 14px;
            line-height: 45px;
            transition: 100ms ease-out 100ms;
            text-decoration: none;
        
            &:hover {
                color: $primaryMain;
            }
        
        }
        
        


        }
}

