@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* || GENERAL STYLES */

/* || COLORS */

$white: #fdfdfd;

$greyBackground: #e7ebf0;
$greyBackgroundLight: #f3f5f7;

$primaryMain: #252b33;
$primaryLight: #37414d;

.text-primary {
  color: $primaryMain !important;
}

$boxShadow: 0px 4px 32px rgba(0, 0, 0, 0.05),
  -4px -4px 32px rgba(37, 43, 51, 0.05);

$boxShadowHover: 0px 4px 32px rgba(0, 0, 0, 0.15),
  -4px -4px 64px rgba(37, 43, 51, 0.12);

$textDark: #727272;

.text-dark {
  color: $textDark !important;
}

$textMedium: #838383;

.text-medium {
  color: $textMedium !important;
}

$textLight: #c2c2c2;

.text-light {
  color: $textLight !important;
}

$primaryBackground: #e1e8dd;

$primaryDark: #2f3c22;

/* || BREAKPOINTS */

$screen-xl-min: 1440px;
$screen-l-min: 1240px;
$screen-m-min: 800px;
$screen-s-min: 600px;

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin m {
  @media (min-width: #{$screen-m-min}) {
    @content;
  }
}

@mixin s {
  @media (min-width: #{$screen-s-min}) {
    @content;
  }
}

$transition: 100ms ease-out 100ms;

/* || TEXT */

%headline {
  transition: $transition;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  color: $primaryMain;
  margin: 0px;
  line-height: 125%;
  text-align: left;
  letter-spacing: -0.25px;
}

h1 {
  @extend %headline;
  font-size: 32px;
  line-height: 125%;

  @media (min-width: $screen-s-min) {
    font-size: 48px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 56px !important;
  }
}

h2,
.text-h2 {
  @extend %headline;
  font-size: 38px;

  @media (min-width: $screen-s-min) {
    font-size: 36px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 48px !important;
  }
}

h3,
.text-h3 {
  @extend %headline;
  font-size: 24px;

  @media (min-width: $screen-s-min) {
    font-size: 32px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 36px !important;
  }
}

h4 {
  @extend %headline;
  font-size: 18px;

  @media (min-width: $screen-s-min) {
    font-size: 28px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 32px !important;
  }
}

%text,
li {
  transition: $transition;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300 !important;
  line-height: 175%;
  text-align: left;
  margin: 0px;
}

.italic {
  font-style: italic;
}
.text-title {
  font-weight: 700 !important;
}

.text-xxl {
  @extend %text;
  font-size: 20px;
  color: $primaryMain;

  @media (min-width: $screen-s-min) {
    font-size: 22px !important;
  }

  @media (min-width: $screen-l-min) {
    font-size: 24px !important;
  }
}

.text-xl {
  @extend %text;
  font-size: 16px;
  color: $primaryMain;

  @media (min-width: $screen-s-min) {
    font-size: 18px !important;
  }

  @media (min-width: $screen-l-min) {
    font-size: 22px !important;
  }
}

.text-l {
  @extend %text;
  font-size: 14px;

  @media (min-width: $screen-s-min) {
    font-size: 16px !important;
  }

  @media (min-width: $screen-l-min) {
    font-size: 18px !important;
  }
}

.text-m {
  @extend %text;
  font-size: 12px;

  @media (min-width: $screen-s-min) {
    font-size: 14px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 16px !important;
  }
}

.text-s {
  @extend %text;
  font-size: 12px;

  @media (min-width: $screen-s-min) {
    font-size: 14px !important;
  }

  @media (min-width: $screen-xl-min) {
    font-size: 16px !important;
  }
}

.main-content-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0px;
  gap: 32px;

  @media (min-width: $screen-s-min) {
    gap: 56px !important;
  }

  @media (min-width: $screen-l-min) {
    gap: 56px !important;
  }
  @media (min-width: $screen-xl-min) {
    width: 1200px !important;
  }
}

.content-blocks {
  gap: 80px !important;

  @media (min-width: $screen-s-min) {
    gap: 120px !important;
  }

  @media (min-width: $screen-xl-min) {
    width: 1200px !important;
  }
}

.two-columns-container {
  transition: $transition;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 56px;
  flex: 1 1 0px;

  @media (min-width: $screen-m-min) {
    flex-direction: column;
    gap: 80px !important;
  }

  @media (min-width: $screen-l-min) {
    flex-direction: row !important;
    gap: 120px !important;
  }

  .img-two-columns {
    @media (min-width: $screen-l-min) {
      width: 33% !important;
    }
  }
}

.flex-center {
  align-items: center;
}

html,
body,
.App,
.App > div,
#root {
  height: 100%;
}

body {
  background-color: $primaryMain;
  margin: 0px;
  overflow: scroll;
  transition: $transition;
  font-family: "Poppins";
  /* Show scrollbars */
}

#root {
  display: flex;
}

.main-background-container {
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  transition: 100ms ease-out 100ms;
  height: fit-content !important;
  padding: 40px 10%;
  width: 90%;

  @media (min-width: $screen-s-min) {
    padding: 80px 10% !important;
    width: 80%;
  }

  @media (min-width: $screen-l-min) {
    gap: 80px !important;
  }
  @media (min-width: $screen-xl-min) {
    width: 100%;
  }
}

.container-dark {
  background-color: $primaryMain;

  h1,
  h2,
  h3,
  h4,
  a,
  button {
    color: white !important;
  }
  p {
    color: $textLight !important;
  }

  a:hover {
    opacity: 70% !important;

    &.project-teaser-image {
      opacity: 100% !important;
    }
  }
}

.container-secondary {
  background-color: $primaryLight;

  h1,
  h2,
  h3,
  h4,
  a {
    color: white;
  }
  p {
    color: $textLight !important;
  }

  a:hover {
    opacity: 70% !important;

    &.project-teaser-image {
      opacity: 100% !important;
    }
  }
}

.container-white {
  background-color: $white;
  h1,
  h2,
  h3,
  h4,
  button {
    color: $primaryMain;
  }

  a:hover {
    opacity: 70% !important;

    &.project-teaser-image {
      opacity: 100% !important;
    }
  }
}

.container-grey {
  background-color: $greyBackground !important;

  h1,
  h2,
  h3,
  h4,
  button {
    color: $primaryMain;
  }
}

.container-grey-light {
  background-color: $greyBackgroundLight !important;

  h1,
  h2,
  h3,
  h4,
  button {
    color: $primaryMain;
  }
}

.clickable {
  cursor: pointer;
}

.main-content {
  width: 100% !important;

  @include xl {
    max-width: 1200px !important;
  }
}

.content-vertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  &.item-icons-container {
    gap: 64px;
  }

  @media (min-width: $screen-s-min) {
    gap: 40px !important;
  }

  @media (min-width: $screen-l-min) {
    gap: 56px !important;
  }
}

.content-vertical-small {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content-horizontal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  @media (min-width: 1000px) {
    align-items: center;
    flex-direction: row !important;
    gap: 80px;
  }

  @media (min-width: $screen-l-min) {
    gap: 80px !important;
  }

  &.no-group {
    width: 100%;
    gap: 80px;
    @media (min-width: $screen-s-min) {
      gap: 160px !important;
    }

    @media (min-width: 1000px) {
      align-items: flex-start;
      flex-direction: row !important;
      gap: 120px;
    }

    @media (min-width: $screen-l-min) {
      gap: 120px !important;
    }
  }

  &.item-icons {
    gap: 16px;

    @media (min-width: $screen-s-min) {
      align-items: flex-start;
      flex-direction: row !important;
      gap: 24px !important;
    }

    @media (min-width: $screen-l-min) {
      gap: 40px !important;
    }
  }

  .img-two-columns {
    width: 100%;

    @media (min-width: 1000px) {
      width: 50% !important;
    }
  }

  .img-small {
    width: 230px;
    @media (min-width: $screen-m-min) {
      width: 25%;
    }
    @media (min-width: $screen-l-min) {
      width: 300px !important;
    }
  }
}

.avatar {
  width: 65px;
  height: 65px;
  border-radius: 100px;
  background-color: $textLight;
  @media (min-width: $screen-s-min) {
    width: 150px !important;
    height: 150px !important;
  }
}

.main-container {
  background-color: white;
  display: flex;
  width: 80%;
  align-items: flex-start;
  flex-direction: column;
  height: fit-content !important;
  gap: 100px;

  @include xl {
    padding: 0px 0px;
    width: 1100px !important;
  }
}

.card-group {
  display: flex;
  gap: 16px;

  @include s {
    flex-direction: row !important;
    gap: 40px !important;
    align-items: center;
  }
}

.card-container {
  margin: 0px 0px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
  box-shadow: $boxShadow;

  @include m {
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
  }

  .card-icon-text-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    @include m {
      gap: 16px;
    }
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
}

.container-primary {
  background-color: $primaryBackground;
}

.container-gray {
  background-color: $greyBackground;
}

.icon-extrabig {
  height: 32px;
  width: 32px;

  @media (min-width: $screen-s-min) {
    height: 48px !important;
    width: 48px !important;
  }

  @media (min-width: $screen-l-min) {
    height: 56px !important;
    width: 56px !important;
  }
}

.icon-big {
  height: 40px;
  width: 40px;

  @media (min-width: $screen-l-min) {
    height: 48px !important;
    width: 48px !important;
  }
}

.icon-medium {
  height: 40px;
  width: 40px;
}

.icon-small {
  height: 32px;
  width: 32px;
}

.icon-extrasmall {
  height: 24px;
  width: 24px;
}

button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  padding: 0 0;
  line-height: 24px;
  text-align: center;

  letter-spacing: 0.1px;
  height: 56px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: 100ms ease-out 100ms;
}

.container-white,
.container-grey,
.container-grey-light {
  button {
    box-shadow: 0 -2px 0 $primaryMain inset;
    &:hover {
      cursor: pointer;
      box-shadow: 0 -8px 0 $primaryMain inset;
    }
  }
}

.container-dark {
  button {
    box-shadow: 0 -2px 0 $white inset;
    &:hover {
      cursor: pointer;
      box-shadow: 0 -8px 0 $white inset;
    }
  }
}

.button-large {
  font-family: "Poppins";
  font-size: 16px;

  @include xl {
    font-size: 20px;
  }
}

.button-medium {
  font-family: "Poppins";
  font-size: 14px;

  @include xl {
    font-size: 18px;
  }
}

.button-small {
  font-family: "Poppins";
  font-size: 12px;

  @include xl {
    font-size: 16px;
  }
}

.inline-link {
  @extend %text;
  text-decoration: underline !important;
}

.chip-row-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  @include xl {
    padding: 0px 0px;
    width: 560px;
  }
}

.hero-background-container {
  transition: 100ms ease-out 100ms;
  height: fit-content !important;
  padding-bottom: 120px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include m {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include xl {
    align-items: center;
    width: 100%;
    align-items: center;
  }
}

.hero {
  background-color: $primaryBackground;
  width: 100%;
  height: fit-content !important;
  padding-bottom: 80px;

  display: flex;
  flex-direction: column;

  .hero-text-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-end;
    padding: 100px 0px 0px;
    gap: 24px;
    width: 80%;

    @include xl {
      width: 1100px;
    }

    .hero-headline {
      margin-bottom: 40px;
    }
  }
}

.contact-container {
  gap: 24px !important;
  max-width: 800px;
  align-self: flex-start;
}

.loader-container {
  opacity: 1;
  display: flex;
  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: $primaryMain;
  z-index: 20;
  align-items: center;
  justify-content: center;
  gap: 4px;
  animation: fade-out 0.6s 1s ease-in forwards;
}

#k-animated {
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: 3.5;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

#s-animated {
  animation-name: floating-backwards;
  animation-duration: 1s;
  animation-iteration-count: 3.5;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes floating-backwards {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
