@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* || GENERAL STYLES */

body {
    font-family: 'Poppins';
    color: #111111;
}

html, body, .App, .App>div, #root {
    height: 100%
  }

h1 {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    /* identical to box height, or 98% */
    letter-spacing: -0.25px;
    color: #111111;
    margin: 0px;
}

h3 {
    /* Abril Fatface/H3 */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height, or 122% */
    /* Text/Dark */

    color: #111111;
}

.title-large{
    margin: 0px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 100;
font-size: 18px;
line-height: 36px;
text-align: left;
color: #111111;
}

.title-medium{
margin: 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 32px;
text-align: left;

color: #111111;
}

.title-small{
    margin: 0px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 28px;
text-align: left;

color: #111111;
}

button {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
padding: 0 0;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.1px;
color: #111111;
height: 56px;
border: none;
background-color: transparent;
cursor: pointer;
box-shadow: 0 -2px 0 #111111 inset;
transition: 100ms ease-out 100ms;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 -8px 0 #111111 inset;
}

.button-large{
    font-size: 16px;
}

.button-medium{
    font-size: 14px;
}

.button-small{
    font-size: 12px;
}

/* Extra large devices (extra large desktops, 1440px and up) */

@media (min-width: 1440px) {

    .button-large{
        font-size: 20px;
    }

    .button-medium{
        font-size: 18px;
    }

    .button-small{
        font-size: 16px;
    }

    .container {
        padding: 0px 0px;
        width: 1200px; 
    }

    h1 {
        font-size: 65px;
    }

    .title-large{
    font-size: 20px;
    line-height: 40px;
    }

    .title-medium {
        font-size: 18px;
line-height: 36px;
    }

    .title-small {
        font-size: 16px;
line-height: 32px;
    }

}
