@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* || GENERAL STYLES */

/* || COLORS */

$textDark: #111111;
$textMedium: #545454;
$textLight: #9A9A9A;

$primaryBackground: #E1E8DD;
$greyBackground: #F8F8F8;

$primaryMain: #6F8463;
$primaryDark: #2F3C22;
$primaryLight: #BDD1B2;

/* || BREAKPOINTS */

$screen-xl-min: 1440px;

$screen-m-min: 968px;
$screen-s-min: 700px;

@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin m {
    @media (min-width: #{$screen-m-min}) {
        @content;
    }
}

@mixin s {
    @media (min-width: #{$screen-s-min}) {
        @content;
    }
}

html,
body,
.App,
.App>div,
#root {
    height: 100%
}

body {
    margin: 0px;
    overflow: scroll;
    font-family:'Poppins';
    /* Show scrollbars */
}

#root {
    display: flex;
}

.main-background-container {
    transition: 100ms ease-out 100ms;
    height: fit-content !important;
    padding-bottom: 120px;
    padding-top: 120px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include m {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include xl {
        align-items: center;
        width: 100%;
        align-items: center;
    }

}

.background-white {
    background-color: white;
}

.background-primary {
    background-color: $primaryBackground;
}

.main-content {
    width: 100% !important;

    @include xl {
        max-width: 1100px !important;
    }
}

.content-vertical {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include m {
        gap: 16px;
    }
}

.content-horizontal {
    display: flex;
    flex-direction: column;
    gap: 40px;


    @include s {
        flex-direction: row !important;
        gap: 80px !important;
        align-items: center;
    }

    .img-two-columns{
        width:100%;

        @include s {
            width: 45% !important;
        }
    }
}

.main-container {
    background-color: white;
    display: flex;
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    height: fit-content !important;
    gap: 100px;

    @include xl {
        padding: 0px 0px;
        width: 1100px !important;
    }
}

.card-group{
    display: flex;
    gap: 16px;

    @include s {
        flex-direction: row !important;
        gap: 40px !important;
        align-items: center;
    }
}

.card-container {
    margin: 0px 0px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    @include m {
        flex-direction: row !important;
        justify-content: space-around !important;
        align-items: center !important;
    }

    .card-icon-text-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;

        @include m {
            gap: 16px;
        }
    
    }


    .card-content-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}

.container-primary{
    background-color: $primaryBackground;
}

.container-gray{
    background-color: $greyBackground;
}

.icon-big{
    height:62px;
    width:62px;
}

.icon-medium{
    height:40px;
    width:40px;
}

.icon-small{
    height:32px;
    width:32px;
}


%headline {
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    color: $textDark;
    margin: 0px;
}

h1 {
    @extend %headline;
    font-size: 56px;
    line-height: 68px;
    text-align: left;
    letter-spacing: -0.25px;
    margin-bottom: 16px;

    @media (max-width: 986px) {
        font-size: 48px;
        line-height: 58px;
      }

}

h2 {
    @extend %headline;
    font-size: 40px;
    line-height: 56px;
    text-align: left;


    @media (max-width: 986px) {
        font-size: 38px;
        line-height: 44px;
      }

}

h3 {
    @extend %headline;
    font-size: 36px;
    line-height: 48px;
}

h4 {
    @extend %headline;
    font-size: 24px;
    line-height: 32px;
}

%title {
    margin: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100 !important;
    text-align: left;
    color: $textDark;
}

.title-extralarge {
    @extend %title;
    font-size: 30px !important;
    line-height: 54px;
    font-weight: 100;
    color: $textDark;
}

.title-large {
    @extend %title;
    font-size: 22px;
    line-height: 36px;

    @media (max-width: 986px) {
        font-size: 18px;
        line-height: 32px;
      }

      @media (max-width: 700px) {
        font-size: 16px;
        line-height: 32px;
      }

}

.title-medium {
    @extend %title;
    font-size: 18px;
    line-height: 36px;

    @media (max-width: 986px) {
        font-size: 16px;
        line-height: 32px;
      }

}

.title-small {
    @extend %title;
    font-size: 12px;
    line-height: 24px;

    @include m {
        font-size: 16px;
        line-height: 32px;
    }
}

button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    padding: 0 0;
    line-height: 24px;
    text-align: center;

    letter-spacing: 0.1px;
    color: $textDark;
    height: 56px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 -2px 0 $textDark inset;
    transition: 100ms ease-out 100ms;

    &:hover {
        cursor: pointer;
        box-shadow: 0 -8px 0 $textDark inset;
    }
}

.button-large {
    font-family: 'Poppins';
    font-size: 16px;

    @include xl {
        font-size: 20px;
    }
}

.button-medium {
    font-family: 'Poppins';
    font-size: 14px;

    @include xl {
        font-size: 18px;
    }
}

.button-small {
    font-family: 'Poppins';
    font-size: 12px;

    @include xl {
        font-size: 16px;
    }
}

.inline-link {
    @extend %title;
    font-size: 16px;
    line-height: 32px;
    text-decoration: underline !important;
    transition: none;

    @media (max-width: 986px) {
        font-size: 14px;
        line-height: 28px;
      }


}

.hero-background-container {
    transition: 100ms ease-out 100ms;
    height: fit-content !important;
    padding-bottom: 120px;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include m {
        width: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include xl {
        align-items: center;
        width: 100%;
        align-items: center;
    }

}

.hero {
    background-color: $primaryBackground;
    width: 100%;
    height: fit-content !important;
    padding-bottom: 80px;

    display: flex;
    flex-direction: column;



    .hero-text-container {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: center;
        justify-content: flex-end;
        padding: 100px 0px 0px;
        gap: 24px;
        width: 80%;

        @include xl {
            width: 1100px;
        }

        .hero-headline {
            margin-bottom: 40px;
        }
    }
}
