@import "../../style/style.scss";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

#carousel-container {
  padding-top: 64px !important;
  padding-bottom: 40px !important;
  gap: 24px !important;
  height: fit-content;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .alice-carousel {
    width: 100%;

    @include xl {
      width: 1200px;
      padding: 0px 0px;
    }

    .alice-carousel__dots-item {
      background-color: white;

      &.__active {
        background-color: $textLight;
      }
    }

    .alice-carousel__prev-btn {
      padding-right: 16px;
    }

    .alice-carousel__next-btn {
      padding-left: 16px;
      text-align: left;
    }

    .alice-carousel__prev-btn-item,
    .alice-carousel__next-btn-item {
      color: $textLight;
    }
  }

  .carousel-item-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    height: fit-content !important;
    @include s {
      padding: 40px;
      gap: 40px;
    }

    .carousel-item-person-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 50%;
      padding: 0px;
      gap: 16px;
      width: 100%;
      height: fit-content;

      @include s {
        gap: 40px;
      }

      .carousel-item-person-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;

        a {
          height: fit-content;
        }
      }
    }
  }
}
