@import "../../style/style.scss";

#home-hero-container {
  background-color: white;
  width: 100%;
  gap: 32px;
  padding-top: 0px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: flex-start;

  @include xl {
    height: 45% !important;
    max-width: 1200px !important;
  }

  @include m {
    gap: 80px;
  }

  @include s {
    flex-direction: row;
    height: 50% !important;
    padding-top: 40px;
  }

  img {
    transition: 100ms ease-out 100ms;
    max-width: 45%;
    flex-grow: 0;

    @include s {
      max-width: 45% !important;
    }

    @include m {
      max-width: 45% !important;
    }
  }

  #hero-text-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    justify-content: flex-end;
    padding: 0px 0px 0px;
    gap: 24px;
    width: 100%;

    @include xl {
      width: 1100px;
    }
  }
}

#hero-text-container p,
#hero-text-container h1 {
  width: 100%;
  text-align: left;
}
