@import "../../style/style.scss";

.project-teaser-container {
  transition: all 400ms ease-out 50ms;
  display: flex;
  height: fit-content;

  .project-teaser-text-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    @include m {
      width: 50%;
    }
  }

  &.project-additional .project-teaser-image {
    transition: all 400ms ease-out 50ms;
    cursor: pointer;
    display: flex;
    aspect-ratio: 1/1;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    box-shadow: $boxShadow;

    &:hover {
      box-shadow: $boxShadowHover;
    }
    img {
      height: 100%;
      width: 100%;
      max-width: 400px;
      max-height: 400px;
      @include m {
        max-width: none;
        max-height: none;
      }
    }
    max-width: 400px;
    max-height: 400px;
  }

  &.project-featured .project-teaser-image {
    transition: all 400ms ease-out 50ms;
    cursor: pointer;
    display: flex;
    aspect-ratio: 9/6;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $white;
    box-shadow: $boxShadow;

    &:hover {
      box-shadow: $boxShadowHover;
    }
    img {
      height: 100%;
      width: 100%;
      max-width: none;

      @include m {
        min-width: 100%;
        max-width: none;
        max-height: none;
      }
    }
  }
}

.project-featured {
  &.project-teaser-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 32px;

    @include m {
      align-items: center;
      flex-direction: row;
      margin-bottom: 100px;
      gap: 80px;
    }

    @include xl {
      padding: 0px 0px;
      width: 1200px;
    }

    .project-teaser-text-container {
      display: flex;
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;

      h3 {
        color: $primaryMain;
        margin: 0px;
      }
    }
  }
}

.project-additional {
  &.project-teaser-container {
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;

    @include s {
      width: 40%;
    }

    @include m {
      width: 40%;
    }

    @include xl {
      padding: 0px 0px;
      width: 450px;
    }
  }

  .project-teaser-text-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }
}
