#nav-items-container{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;
}

.nav-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 45px;
    color: #111111;
    transition: 100ms ease-out 100ms;
}

.nav-item:visited, .nav-item:link, .nav-item:active
{
    text-decoration: none;
    color: #111111;
}

.nav-item:hover {
    color: #9A9A9A;
}

#nav-home {
      /* Abril Fatface/H3 */
      font-family: 'Abril Fatface';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 45px;
      /* identical to box height, or 122% */
      text-decoration: none;
      /* Text/Dark */
      color: #111111;  
}

nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    padding: 0px 120px;
    width: 90%;
    align-items: center;
}


/* Extra large devices (extra large desktops, 1440px and up) */

@media (min-width: 1440px) {

    nav {
        padding: 0px 0px;
        width: 1200px; 
    }

}

