@import '../../style/style.scss';

.next-project-container{
    align-items: flex-end !important;
    width: 80% !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;

    @include xl {
        width: 1100px !important;
        padding: 0px 0px;
    }
}

.next-text {
    @extend %title;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }