@import '../../style/style.scss';

.hero-container{
    padding-top: 0px !important;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include m {
        flex-direction: row !important;
        gap: 80px !important;
        align-items: center;
    }

}

.text-block{
gap: 16px !important;
}

.visuals-block{
    gap: 40px !important;
    }

.noBottomPadding{
    padding-bottom: 0px !important;
}

.illustration-section {
    transition: 100ms ease-out 100ms;
    width: 100% !important;
    @include s {
        max-width: 40%;
    }

    @include m {
        max-width: 300px !important;
    }

}

.illustration-hero{

    transition: 100ms ease-out 100ms;
    max-width: 100%;
    -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.1);
    flex-grow: 0;

    @include m {
        max-width: 450px !important;
    }

    @include xl {
        max-width: 600px !important;
    }
}