@import '../../style/style.scss';

.project-description {
    justify-self: center;
    align-self: center;
    background-color: white;
    border: 1px solid $primaryMain;
    padding: 3% 5%;
    width: 80%;
    height: fit-content !important;
    margin-bottom: 100px;
    margin-top: 100px;

    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include s {
        flex-direction: row;
        align-items: flex-start;
        padding: 3% 5%;
        width: 90%;
        gap: 24px;
     
    }

    @include m {
        gap:80px;
        padding: 3% 10%;
        width: 80%;
    }


    img {
        height:64px !important;
        width: 64px;
    }

}



.project-description-title {
    @extend %title;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700 !important;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: $primaryMain;

    @include m {
    margin-top: 8px;
    }
}

.project-description-text{
    @extend %title;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 100;
    color: $textLight;
    text-align: center;
}
