@import "../../style/style.scss";

.item-group-container-underline {
  transition: all 0.3s ease;
  height: fit-content;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0px;
  gap: 40px;

  .itemText {
    max-height: 400px;
    transition: max-height 0.3s ease;

    &.hiddenItem {
      max-height: 0;
      overflow: hidden;
    }
  }

  .item-group-item-underline {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;

    @media (min-width: $screen-s-min) {
      flex: 1 0 40%;
      /* explanation below */
    }

    @media (min-width: $screen-l-min) {
      flex: 1 0 35%;
      /* explanation below */
    }

    .item-group-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;
      padding: 0px;
      gap: 4px;

      .item-group-headline {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        user-select: none;
      }
    }

    .item-group-header-underline {
      border: 1px solid $primaryMain !important;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      margin-top: 4px;
    }
  }
}

.item-group-container-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0px;
  gap: 24px;

  @include s {
    gap: 40px;
  }

  .item-group-item-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    box-shadow: $boxShadow;
    align-self: stretch;

    @include s {
      padding: 32px;
    }
  }
}

.item-group-item-box-small {
  width: 100%;

  @media (min-width: $screen-s-min) {
    flex: 1 0 30%;
    /* explanation below */
  }

  @media (min-width: $screen-l-min) {
    flex: 1 0 5%;
    /* explanation below */
  }
}

.item-group-item-box-large {
  @media (min-width: $screen-m-min) {
    flex: 1 0 30%;
    /* explanation below */
  }
}
