@import "../../style/style.scss";

.list-group-container {
  gap: 0px;

  .list-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    .list-item {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      padding: 24px 0px 24px 0px;

      gap: 16px;

      .item-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item-title {
          font-weight: 700;
          color: $primaryMain;
          width: 100%;
          margin: 0px;
          text-align: left;
        }

        .item-text {
          margin: 0px;
          text-align: left;
        }
      }
    }
  }
}

.divider {
  border: 1px solid $greyBackground;
  width: 100%;
}
